<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/css/teenagerGrow/unvStyle.css">
    <link rel="stylesheet" media="screen" href="__PUBLIC__/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>

<!--网页头-->
<div id="webHead"></div>
<div class="lefttop"><span></span>修改密码</div>
<form name="changePasswd" id="changeDoctorPassword" method="post" action="{:U('changePassword')}">
    <table align="center">
        <tr>
            <td align="right"><b>旧密码:</b></td>
            <td><input type="text" name="oldPassword" width="20"></td>
        </tr>
        <tr>
            <td align="right"><b>新密码:</b></td>
            <td><input type="text" name="newPassword1" width="20"></td>
        </tr>
        <tr>
            <td align="right"><b>确认新密码:</b></td>
            <td><input type="text" name="newPassword2" width="20"></td>
        </tr>
        <tr>
            <td align="right">  <input type="submit" value="提交" class="btn-info"> </td>
            <td align="left">  <a href="mainView.html">&nbsp;&nbsp;&nbsp;返回主页 </a> </td>
        </tr>
        </table>
    </form>

<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script>
    $(function(){
        $("#webHead").load("webHead.html");
    })
</script>
</body>
</html>