<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>身高体重图表</title>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/css/teenagerGrow/unvStyle.css">
    <link rel="stylesheet" media="screen" href="__PUBLIC__/css/bootstrap.min.css">
</head>
<body>
<div class="linkTop">
    <ul class="nav nav-pills bg-info">
        <li class="active"><a href="#" onclick="jumpToBelow('queryHeightAndWeight.php')">身高曲线图</a></li>
        <li><a href="#" onclick="jumpToBelow('importHeightAndWeight.php')">体重曲线图</a></li>
    </ul>
</div>






<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/js/echarts.common.min.js"></script>

</body>
</html>